{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <div class="row">
      
          <div class="col-md-7 mb-3">
              <div id="checkout-register">{{ register }}</div>
            {% if shipping_address %}
              <div id="checkout-shipping-address">{{ shipping_address }}</div>
            {% endif %}
          </div>
        <div class="col">
          <div id="checkout-confirm">{{ confirm }}</div>
        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
<script>
  function saveOrder() {
    var validationFailed = false;
    var firstInvalidElement = null;
    var checkedRadioGroups = {};

    // General validation for required fields
    $('#content input').each(function() {
        var field = $(this);
        if ($.trim(field.val()) === '') {
            firstInvalidElement = field;
            validationFailed = true;
            
        }
    });

    if (validationFailed) {
        alert('Please fill out all required fields.');
        firstInvalidElement.focus();
        return;
    }

    var allocationInputs = $('input[name="allocation[]"]');

    if (allocationInputs.length > 0) {
        var totalAllocation = 0;
        allocationInputs.each(function() {
            var value = parseFloat($(this).val());
            if (!isNaN(value)) {
                totalAllocation += value;
            }
        });

        if (Math.round(totalAllocation) !== 100) {
            alert('Allocation should sum to 100');
            return;
        }
    }

    $.ajax({
        url: 'index.php?route=checkout/confirm.saveOrder&language={{ language }}',
        type: 'post',
        data: $('#form-register').serialize() + 
              '&custom=' + $('#select-option').val() + 
              '&address_id=' + $('#input-shipping-address').val() + 
              '&' + $('#form-shipping-address').serialize() +
              '&selected_controller=' + $('#select-controller').val() +
              '&' + $('input[name="bu[]"]').serialize() +
              '&' + $('input[name="allocation[]"]').serialize() +
              '&comment=' + encodeURIComponent($('#input-comment').val()),
        success: function(json) {
          // redirect to the success page
          if (json.redirect) {
            window.location.href = json.redirect;
          
          }
            //$('#checkout-confirm').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

</script>
{{ footer }}
