{{ header }}
<div id="checkout-checkout" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_top }}
      <div class="row">
      
          <div class="col-md-7 mb-3">
              <div id="checkout-register">{{ register }}</div>
            {% if shipping_address %}
              <div id="checkout-shipping-address">{{ shipping_address }}</div>
            {% endif %}
          </div>
        <div class="col">
          <div id="checkout-confirm">{{ confirm }}</div>
        </div>
      </div>
    </div>
    {{ content_bottom }}
  </div>
  {{ column_right }}
</div>
<script>
  function saveOrder() {
    $.ajax({
        url: 'index.php?route=checkout/confirm.saveOrder&language={{ language }}',
        type: 'post',
        data: $('#form-register').serialize()+'&custom='+$('#select-option').val()+'&address_id='+$('#input-shipping-address').val()+'&'+$('#form-shipping-address').serialize(),
        success: function(json) {
          // redirect to the success page
          if (json.redirect) {
            window.location.href = json.redirect;
          
          }
            //$('#checkout-confirm').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}

</script>
{{ footer }}
